# Ignorar dependencias de Python (Backend)
backend/venv/
backend/__pycache__/
backend/db.sqlite3

# Ignorar dependencias de Node (Frontend)
frontend/node_modules/
frontend/build/

# Archivos de sistema
.DS_Store