.us_de-container {
   width: min(80%, 110rem);
   margin: 0 auto;
}

.us_de-deseados-text {
   font-size: 3rem;
}

/* para ajustar el buscador a pantallas menos de 597 ponerlo en otra linea */

.us_de-imagen-lugar {
   height: 12rem;
   width: 18rem;
   object-fit: cover;
}

/* Seccion del acordeon */

/* Ancho del acordeon */
.accordion {
   width: 20vw;
}

.ud_de-accordion-body {
   padding-left: 1.5rem;
}

.ud_de-accordion-body ul li::marker {
   content: '';
   /* Elimina cualquier contenido del marcador */
}

.accordion-button:not(.collapsed) {
   background-color: #e4007d1c;
}

.accordion-button:not(.collapsed) {
   color: #000;
}

/* Quitar el color azul de enfoque del botón del acordeón */
.accordion-button:focus {
   box-shadow: #e4007d56 0 0 0 0.25rem;
}

/* Card con sombra en lugar de borde */
.us_de-border-target {
   box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   background-color: #fff;
   /* Color de fondo de la targeta. Eliminar linea para volver a blanco */
}


/* Botón agregar a deseados */
.us_de-button-agregar {
   border-color: #E4007C;
   display: flex;
   align-items: center;
}

/* Estilo de hover: tanto ícono como texto se ponen en blanco */
.us_de-button-agregar:hover {
   background-color: #E4007C;
   color: #FFFFFF;
}

.us_de-button-agregar:hover .us_de-icono {
   color: #FFFFFF;
   /* Cambia el color del ícono al pasar el cursor */
}

/* Ajusta el color inicial del ícono */
.us_de-icono {
   color: #E4007C;
}

/* Línea divisoria debajo del nombre del lugar */
.us_de-divider {
   width: 90%;
   border: 0;
   border-top: 1.5px solid #2b6379;
}

/* Contenedor desplazable para la columna de lugares 
.us_de-scrollable-column {
   max-height: 95vh;
   overflow-y: auto;
}
*/

/* Estilos para el ícono de corazón en la esquina superior derecha */
.us_de-favorite-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   width: 35px;
   height: 35px;
   background-color: #ffffff;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   transition: background-color 0.3s ease;
 }
 
 .us_de-favorite-icon i {
   color: #e4007c;
   font-size: 1.2rem;
 }
 
 .us_de-favorite-icon:hover {
   background-color: #e4007c;
 }
 
 .us_de-favorite-icon:hover i {
   color: #ffffff;
 }
 
 /* Estilo cuando el lugar está marcado como favorito */
 .us_de-favorite-icon.favorite-active {
   background-color: #e4007c;
 }
 
 .us_de-favorite-icon.favorite-active i {
   color: #ffffff;
 }
 

/* Ajustes para responsividad */
@media (max-width: 768px) {
   .us_de-titulo-buscador {
      flex-direction: column;
      margin-bottom: 2rem;
   }

   .us_de-deseados-text {
      font-size: 3rem;
      margin-bottom: 0rem;
   }
}

@media (max-width: 1530px) {
   .ud-lugar-info-col {
      max-width: 65%;
   }
}

@media (max-width: 1470px) {
   .ud-lugar-info-col {
      max-width: 62%;
   }
}

@media (max-width: 1346px) {
   .ud-lugar-info-col {
      max-width: 60%;
   }
}

@media (max-width: 1295px) {
   .ud-lugar-info-col {
      max-width: 56%;
   }
}

@media (max-width: 1199px) {
   .ud-lugar-info-col {
      max-width: 100%;
   }
}

@media (max-width: 1150px) {
   .ud-lugar-info-col {
      max-width: 65%;
   }
}

@media (max-width: 1092px) {
   .ud-lugar-info-col {
      max-width: 62%;
   }
}

@media (max-width: 1030px) {
   .ud-lugar-info-col {
      max-width: 60%;
   }
}

@media (max-width: 980px) {
   .ud-lugar-info-col {
      max-width: 58%;
   }
}

@media (max-width: 940px) {
   .ud-lugar-info-col {
      max-width: 55%;
   }
}

@media (max-width: 880px) {
   .ud-lugar-info-col {
      max-width: 52%;
   }
}

@media (max-width: 830px) {
   .ud-lugar-info-col {
      max-width: 50%;
   }

   .us_de-icons {
      font-size: smaller;
   }
}

@media (max-width: 768px) {
   .ud-lugar-info-col {
      max-width: 100%;
   }

   .ud_contenedor-imagen-lugar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1.2rem;
   }

   .us_de-imagen-lugar {
      height: 100%;
      max-height: 18rem;
      width: 100%;
      max-width: 24rem;
   }
}

/* Estilos para el botón de filtrar y buscador*/
.us_de-cont-buscador-filtro {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}

.us_de-contenedor-filtro {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 0.5rem;
}

@media (max-width: 420px) {
   .us_de-cont-buscador-filtro {
      display: flex;
      flex-direction: column;
   }

   .us_de-contenedor-filtro {
      margin-left: 0;
      margin-top: 0.6rem;
   }
}

.us_de-modal-filtro {
   width: 100%;
}

.us_de-icono-estrella {
   font-size: 3.2rem;
}