/* Layout para que el footer se pegue abajo */
.layout-page { min-height: 100vh; display: flex; flex-direction: column; }
.layout-main { flex:1 0 auto; padding-bottom: 80px; }

/* Cover del perfil */
.perfil-usuario-background{
  height: 250px;
  width: 100%;
  background-image: url('/src/img/HomePage/oncology.jpg'); /* pon tu imagen */
  background-size: cover;
  background-position: center;
}

/* Tarjeta del header */
.perfil-usuario-header{
  margin-top: -60px; /* solapa la tarjeta sobre el cover */
  padding: 24px;
  border-radius: 16px;
}

.perfil-usuario-header-informacion {
  margin-left: 32px; /* o el valor que prefieras */
}

/* Nombre grande como en el mock */
.perfil-usuario-header-username{
  font-weight: 800;
  letter-spacing: .5px;
}

/* Listado de métricas */
.perfil-usuario-informacion-listado{
  gap: 50px; /* separa los bloques */
}
.perfil-usuario-listado .perfil-usuario-header-span{
  font-size: .95rem;
  color: #6b7280;
}

/* Iconos con acento rosa */
.perfil-usuario-header-icon{
  margin-right: 8px;
  color: #E4007C;
}

/* Para valores */
.perfil-usuario-header-font{
  font-weight: 700;
}
