@import "../var.css";

/* ---------------- PlacePage.jsx --> Header ------------ */ 
.pp-header-img {
    width: 100%;
    height: 140px;
    background-attachment: fixed;
}

.pp-header-btn {
    position: absolute;
    margin-top: 2%;
    margin-left: 4%;
}

/* ---------------- PlacePage.jsx --> Reviews ------------ */ 

.pp-reviews {
    padding: 4%;
}

.pp-reviews-card {
    border-radius: 0;
    border-left-color: #c43293 ;
    border-left-width: 10px;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.pp-reviews-card-titulo {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.pp-reviews-card-titulo-h1 {
    font-family: var(--font-title);
    font-weight: 400;   
}

/* ------------------ DescripcionLugar.jsx ----------------- */

/* Container */
.pp-descripcion-lugar {
    padding: 4%;
}


.pp-descripcion-lugar-row {
    width: 100%;
    justify-content: center;
}

/* ------------ DescripcionLugar.jsx --> Tarjeta Azul: Informacion del lugar ----------------- */

.pp-informacion-lugar {
    display: flex;
    justify-content: center;
    align-items: start;
}

.pp-informacion-lugar-card {
    width: 350px;
    border-radius: 0;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    padding: 4%;
}

.pp-informacion-lugar-card-mapa {
    width: 100%;
    aspect-ratio: 1.4;
    /* de a mientras una imagen :) */
    background-image: url('../img/HomePage/mapa.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}

.pp-informacion-lugar-card-link {
    color: var(--color-secondary);
}

.pp-informacion-lugar-contenido {
    margin-top: 20px;
}

.pp-informacion-lugar-iconos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1px;
    margin-right: 3px;
}

.pp-informacion-lugar-horario-item {
    margin-bottom: 3px;
}

.pp-icono-SitioWeb {
    margin-bottom: 3px;
}
/* ---------- DescripcionLugar.jsx --> Nombre del Lugar, Calificación, Descripcion, Imagenes ----- */

.pp-informacion-principal {
    /* width: 70%; */
    align-items: start;
}

.pp-informacion-principal p {
    text-align: justify;
}

.pp-informacion-principal-nombre-lugar {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-bottom: 0;
}

.pp-informacion-principal-calificacion {
    margin-bottom: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pp-informacion-principal-calificacion-contenido {
    width: fit-content;
    display: flex;
}

.pp-informacion-principal-calificacion-titulo {
    width: fit-content;
    margin-right: 15px;
}

.pp-informacion-principal-calificacion-titulo h2 {
    font-weight: 500;
    margin-bottom: 0;
}

.pp-informacion-principal-calificacion-valor {
    width: fit-content;
    display: flex;
    align-items: center;
}

.pp-informacion-principal-imagenes {
    display: flex;
    margin-top: 70px;
}

.pp-informacion-lugar-categoria {
    margin-top: 10px;
}

/* --------> Botones */
.pp-informacion-principal-btns { 
    width: fit-content;
}

.pp-btn-deseados, .pp-btn-favoritos {
    width: fit-content !important;
    border-color: var(--color-secondary);
    margin-left: 5px;
    color: var(--color-secondary);
}

.pp-btnOnClick {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: #fff;
}

/* ------------------------- Reviews.jsx ------------------------------  */

.pp-reviews-contenido {
    margin-bottom: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: start;
}

.pp-reviews-informacion-usuario {
    display: flex;
    height: fit-content;
    width: 20%;
}

.pp-reviews-avatar-usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pp-reviews-nombreUsuario-antiguedadComentario {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.pp-reviews-card-opinion-calificacion {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #fff;
    height: fit-content;
}

/* ----------------------------- Media ---------------------------------- */
@media (min-width: 768px) and (max-width: 1300px) {
    .pp-informacion-principal {
        padding-left: 4%;
    }
}

@media (max-width: 768px) {
    .pp-descripcion-lugar-row { 
        display: flex;
        flex-direction: column-reverse;
    }

    .pp-informacion-principal {
        padding: 3%;
    }
    
    .pp-informacion-lugar {
        width: 100%;
    }

    .pp-informacion-lugar-card {
        width: 90%;
    }
}

@media (max-width: 1931px) {
    .pp-reviews-card-titulo {
        margin-left: 30px;
    }

    .pp-reviews-card-titulo-h1 {
        font-size: 2em;
    }
}

@media (max-width: 1020px) {
    .pp-reviews-contenido {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .pp-reviews-informacion-usuario, .pp-reviews-card-opinion-calificacion {
        width: 90%;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 431px) {
    .pp-reviews-informacion-usuario, .pp-reviews-card-opinion-calificacion {
        margin-left: 0px;
        width: 100%;
    }
    .pp-btn-deseados {
        margin-left: 0;
    }
}